body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #002d2b;
    padding: 10px 20px;
  }
  
  .logo {
    display: flex;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
  }
  
  .logo img {
    height: 30px;
    margin-right: 10px;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
  }
  
  .nav-links li {
    margin: 0 15px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    position: relative;
  }
  
  .nav-links a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: blue;
    left: 0;
    bottom: -2px;
    transition: width 0.3s ease, transform 0.3s ease;
  }
  
  .nav-links a:hover::after {
    width: 100%;
  }
  
  .nav-links a:hover {
    margin-top: 2px;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    width: 500px;
  }
  
  .search-bar input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px 0 0 20px;
    outline: none;
    font-size: 16px;
  }
  
  .search-bar button {
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  .search-bar .search-btn {
    background-color: #00796b;
    color: white;
    border-radius: 0 20px 20px 0;
  }
  
  .search-bar .clear-btn {
    background-color: #00796b;
    color: white;
    margin-left: 5px;
    border-radius: 20px;
  }
  
  #main-content {
    margin-top: 40%;
    margin-left: 15%; /* Left margin for spacing */
    padding-top: 30%;
    font-size:50px;
    color:white;
    font-weight: bold;
    line-height: 1.5;
  }
  
 

  #mainStuff{
    
        background-image: url('landmark.jpg');
        background-size: cover;       /* Ensures the image covers the entire section */
        background-position: center;  /* Centers the image */
        background-repeat: no-repeat; /* Prevents the image from repeating */
        height: 100vh;                /* Makes the section fill the viewport height (optional) */
      
      
  }
  
 